body {
  background-color: lightgray;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
}

.col {
  width: 50%;
  text-align: center;
  display: table;
}

form {
  margin-top: 30%;
}
